 <html>  
   <body>  
      <form action = "/register" method = "post">  
         <table>  
        <tr><td>user</td>  
        <td><input type ="text" name ="name"></td></tr>  
        <tr><td>Email</td>  
        <td><input type ="text" name ="email"></td></tr> 
        <tr><td>passwd</td>   
        <td><input type="text" name="passwd"></td></tr>
        <!-- td><input type="file" name = "file"></td> -->
        <tr><td><input type = "submit"></td></tr>  
    </table>  
      </form>  
   </body>  
</html>  